footer {
    ul {
        margin: 0;

        li {
            list-style: none;
            display: inline-block;
            margin: 0 5px;
            a {
                color: #aaa
            }
        }
    }
}