footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e6e6e6;
    padding: 15px 50px;

    .copyright {
        color: #aaa;
        margin: 0;
    }

    ul {
        margin: 0;

        li {
            list-style: none;
            display: inline-block;
            margin: 0 10px;

            a {
                color: #aaa;
            }
        }
    }
}