@import './variables.scss';

.form-wrapper {
    max-width: 500px;
    box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.17);
    background: white;
    padding: 20px;

    .form-btn-wrap {
        text-align: right;
    }
}
