@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}


// ant-d override
.ant-layout {
    background:$bg;
}

.ant-layout-content {
    padding: 20px;
}

.ant-layout-sider {
    background:$bg;

    .logo {
        padding: 24px;

        img {
            height: 70px;
        }
    }

    .ant-menu {
        background:$bg;
        border-right: none;

        .ant-menu-item {
            font-size: 24px;
        }
    }
}

.ant-divider-vertical {
    border-left: 1px solid #d8d6d6;
}

.error-msg {
    color: red;
    font-weight: bold;
}

@media only screen and (min-width: $medium) {
    .ant-layout-content {
        padding: 75px;
    }
}