@import './variables.scss';

nav {
    display: initial;
    padding: 0;

    li {
        display: inline-block;
        margin: 0 17px;

        a {
            color: $grey;
    
            .user-profile-badge-desktop {
                width: 57px;
                border-radius: 50%;
            }
        }
    
        a.signup-btn {
            background: $primary;
            padding: 10px;
            border-radius: 4px;
            color: white;
            font-weight: bold;
    
            &:hover {
                background: $primaryDark;
            }
        }
    }
}

.ant-dropdown {
    font-size: 18px;

    .ant-dropdown-menu {
        padding: 20px;
    }
}



@media only screen and (min-width: $medium) {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 50px;
    }
}