@import './variables.scss';

.ant-layout-sider {
    background:$bg;

    .logo {
        padding: 24px;

        img {
            height: 70px;
        }
    }

    .ant-menu {
        background:$bg;
        border-right: none;
            
        .btn-signout {
            background: none;
            border: none;
            padding: 0;
            font-weight: 300;

            &:hover {
                cursor: pointer;
                color: $primaryDark;
            }
        }

        .ant-menu-inline {
            border-right: none;
        }
    
        .ant-menu-item-selected {
            background-color: $bg !important;
            
            a {
                color: $primary;
            }
        }

        .ant-menu-submenu-title,
        .ant-menu-item {
            font-weight: 300;
            color: $navLinks;

            &:after {
                border-right: none;
            }

            a {
                &:hover {
                    color: $primary;
                }
            }

            .nav-upload {
                font-weight: 700;
                color: $link;
            }
        }

        .ant-menu-submenu-title {
            &:hover {
                .ant-menu-submenu-arrow::before,
                .ant-menu-submenu-arrow::after {
                    background: linear-gradient(to right, $primary, $primary);
                }   
            }
        }
    }
}