@import './variables.scss';

.noMatch {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 335px);

    .noMatch-inner {
        margin: auto;

        h1 {
            font-size: 34px;
            line-height: 1;
            text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
            color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
        }

        button {
            font-weight: bold;
            height: 50px;
            margin-top: 50px;
        }
    }
}

@media only screen and (min-width: $medium) {
    .noMatch {    
        .noMatch-inner {    
            h1 {
                font-size: 7rem;
                text-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
            }
        }
    }
}