.noMatch {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 335px);

    .noMatch-inner {
        margin: auto;

        h1.error {
            font-size: 10rem;
            margin: 0px;
            line-height: 1;
            text-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
            color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
        }

        h1.noResults {
            font-size: 4rem;
            line-height: 1;
            text-shadow: 4px 4px 0px black;
            color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
        }

        button {
            font-weight: bold;
            height: 50px;
            margin-top: 50px;
        }
    }
}