@import './variables.scss';

.list-wrapper {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    padding: 0;
}   

.project-item {
    flex-basis: 100%;
    list-style: none;
    margin-bottom: 20px;

    &:hover {
        .project-edit {
            display: block;
        }
    }
    
    .project-edit {
        display: none;
    }
    
    .project-card {
        display: flex;
        background-size: cover;
        height: 300px;        

        .project-detail-wrapper {
            display: flex;
            justify-content: space-between;
            flex: 1;
            background: linear-gradient(0deg, #9b9494 0%, rgba(0, 212, 255, 0) 36%);
            color: white;
            padding: 10px;
            position: relative;

            .ant-tag {
                align-self: flex-start;
                position: absolute;
                right: 0;
            }

            h2 {
                color: white;
                font-weight: bold;
                margin: 0;
            }

            .project-title-wrapper {
                align-self: end;
            }
        }
    }

    .project-owner {
        color: black;
        font-size: 16px;
    }

    .project-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .project-comments {
            margin-right: 15px;
        }
    }
}





@media only screen and (min-width: $medium) {
    .project-item {
        flex-basis: 48%;
    }
}

@media only screen and (min-width: $large) {
    .project-item {
        flex-basis: 31%;
    }
}

@media only screen and (min-width: $xlarge) {
    .project-item {
        flex-basis: 24%;
    }
}