@import './variables.scss';

.project-view {
    max-width: 950px;
    margin: 0 auto;
    // background: white;
    padding: 20px;

    img.project-view-screenshot {
        height: auto;
        width: 100%;
        margin: 0 auto;
        display: block;
        border-radius: 2px;
    }
    
    ul {
        padding: 0;

        li {
            list-style: none;

            svg {
                margin-right: 15px;
            }
        }
    }

    .project-share-wrapper {
        display: flex;
        margin-top: 40px;

        button, svg {
            margin-right: 5px;
            border-radius: 2px;
        }

        .btn-copy {
            span:nth-child(2) {
                margin-left: 0;
            }
        }
    }

    .project-view-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 0;

        .project-view-title-info {
            flex-basis: 100%;
        }

        h2 {
            margin: 0;
            font-weight: bold;
        }

        .project-owner {
            color: $link;
            font-weight: bold;
        }

        .button-wrap {
            margin-bottom: 20px;

            button:first-child {
                margin-right: 15px;
            }
        }
    }

    .project-view-content {
        .project-view-right-col {

            button.website-btn {
                margin-bottom: 15px;
            }

            button.repo-btn {
                margin-bottom: 0;
            }

            .project-view-tags {
                display: flex;
                svg {
                    margin-right: 15px;
                }

                ul {
                    
                    li {
                        display: inline-block;
                        margin-right: 10px;
                    }
                }
            }
        }

        .project-view-left-col {
            flex: 2;
            margin-right: 0;
            padding: 50px;
            background: white;

            .project-tagline {
                font-weight: bold;
            }

            .project-description {
                white-space: pre-line;
            }

            .project-view-comments {
                .project-view-comments-header {
                    margin-bottom: 50px;
                }

                .project-view-comment {
                    .project-view-comment-top-wrapper {

                        img {
                            margin-right: 11px;
                            width: 30px;
                            border-radius: 50%;
                        }

                        .project-view-comment-user {
                            font-weight: bold;
                            color: black;
                        }

                        display: flex;
                        align-items: center;

                    }

                    .project-view-comment-body {
                        margin-left: 40px;
                        p {
                            margin: 0;
                            font-size: 16px;
                            white-space: pre-line;
                        }
                    }
                }
            }
        }

        .project-view-right-col {
            flex: 1;
        }
    }
}



@media only screen and (min-width: $medium) {
    .project-view {
        padding: 0;
    
        img.project-view-screenshot {
            height: 300px;
            width: auto;
            margin: 0 auto;
        }
    
        .project-view-content {
            display: flex;

            .project-view-left-col {
                margin-right: 50px;
            }
        }
        
        .project-view-title {
            margin-bottom: 30px;
            
            .project-view-title-info {
                flex-basis: auto;
            }

            .button-wrap {
                margin-bottom: 0;
            }
        }
    }
}

