@import './variables.scss';

.project-view {
    max-width: 950px;
    margin: 0 auto;

    .project-view-screenshot-wrapper {
        background-color: $bg;
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.33' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    
        img.project-view-screenshot {
            height: auto;
            width: 100%;
            margin: 0 auto;
            display: block;
            border-radius: 2px;
        }
    }
    
    ul {
        padding: 0;

        li {
            list-style: none;

            svg {
                margin-right: 15px;
            }
        }
    }

    .project-actions-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 40px 0;
        align-items: center;

        a, button {
            margin-right: 15px;
        }
    }

    .project-view-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 0;

        .project-view-title-info {
            flex-basis: 100%;
        }

        h2 {
            margin: 0;
            font-weight: bold;
            font-size: 26px;
        }

        .project-owner {
            color: $link;
            font-weight: bold;
        }
    }

    .project-view-content {
        display: flex;
        flex-direction: column;

        .project-view-right-col {
            button.website-btn {
                margin-bottom: 15px;
            }

            button.repo-btn {
                margin-bottom: 0;
            }

            .project-share-wrapper {
                display: flex;
                margin-bottom: 20px;

                svg {
                    margin-right: 10px;
                    border-radius: 3px;
                }
            }

            .project-info {
                svg {
                    font-size: 17 px;
                }

                .project-view-tags {
                    display: flex;
                    margin-bottom: 10px;
                    
                    svg {
                        margin-right: 15px;
                    }
    
                    ul {
                        margin: 0;
                        
                        li {
                            display: inline-block;

                            .ant-tag {
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }

        .project-view-left-col {
            flex: 2;
            margin-right: 0;
            margin-bottom: 20px;
            padding: 40px 20px;
            background: white;
            order: 2;

            .comment-login-header {
                text-align: center;
                background: rgba(246, 246, 246, 0.59);
                padding: 10px 30px;
                font-weight: bold;
                max-width: 300px;
                margin: 0 auto;
                margin-bottom: 30px;
            }

            // .project-tagline {
            //     font-weight: bold;
            // }

            .project-description {
                white-space: pre-line;
            }

            .project-view-comments {
                margin-top: 30px;

                .project-view-comments-header {
                    float: left;
                    margin-bottom: 50px;
                }

                .project-view-comments-filter-wrapper {
                    text-align: right;

                    .project-view-comments-select {
                        width: 120px;
                    }
                }

                .project-view-comment {
                    clear: both;
                    margin-bottom: 30px;
                    
                    .project-view-comment-top-wrapper {
                        .project-view-comment-user {
                            font-weight: bold;
                            color: black;
                        }

                        display: flex;
                        align-items: center;

                    }

                    .project-view-comment-body {
                        margin-left: 40px;

                        .project-comment-below {
                            display: flex;
                            margin: 5px 0;
                        }

                        p {
                            margin: 0;
                            font-size: 16px;
                            white-space: pre-line;
                        }
                    }

                    .form-update-comment {
                        margin-top: 15px;
                    }
                }
            }
        }

        .project-view-right-col {
            flex: 1;
        }
    }
}



@media only screen and (min-width: $medium) {
    .project-view {
        padding: 0;
    
        .project-view-screenshot-wrapper {
            img.project-view-screenshot {
                height: 500px;
                width: auto;
                margin: 0 auto;
            }
        }
    
        .project-view-content {
            flex-direction: row;

            .project-view-left-col {
                padding: 40px 50px;
                margin-right: 50px;
                margin-bottom: 0;
                order: initial;
            }
        }
        
        .project-view-title {
            margin-bottom: 30px;

            h2 {
                font-size: 30px;
            }
            
            .project-view-title-info {
                flex-basis: auto;
            }

        }
    }
}

