@import './variables.scss';

.technology-wrapper {
    max-width: 800px;
    margin: 0 auto;

    section {    
        .pb-20 {
            padding-bottom: 22px;
            display: flex;
        
            a {
                background: white;
                display: block;
                border: 1px solid gainsboro;
                text-align: center;
                flex: 1;
                display: flex;
                padding: 18px;
                margin: 0 10px;
                height: 150px;
                display: flex;
                flex-direction: column;

                svg.category,
                svg.tech {
                    width: 65px;
                    height: auto;
                    margin: auto;
                }

                svg.tech.heroku,
                svg.tech.firebase {
                    width: 45px;
                }

                svg.tech.next {
                    width: 75px;
                }

                svg.tech.electron {
                    width: 115px;
                }

                svg.tech.mongo {
                    width: 105px;
                }

                svg.lg-svg {
                    width: 95px;
                }

                &:hover {
                    box-shadow: 0px 0px 5px 3px rgba(242,242,242,1);
                }
            }
        }
    }

    .ant-row {
        display: flex;
        align-items: center;
    }
}
