.technology-wrapper {
    max-width: 800px;
    margin: 0 auto;

    section {
        padding-bottom: 50px;

        a {
            display: block;
            text-align: center;

            svg {
                width: 65px;
                height: auto;
            }

            p {
                text-align: center;
            }
        
            .lg-svg {
                width: 115px;
            }
        }
    }

    .ant-row {
        display: flex;
        align-items: center;
        padding: 10px 0;
    }
}