@import './variables.scss';

.technology-wrapper {
    max-width: 800px;
    margin: 0 auto;

    section {
        padding-bottom: 50px;

        a {
            display: block;
            text-align: center;

            svg.category {
                width: 120px;
                height: auto;
            }

            svg.tech {
                width: 80px;
                height: auto;
            }

            p {
                text-align: center;
            }
        
            svg.lg-svg {
                width: 150px;
            }
        }
    }

    .ant-row {
        display: flex;
        align-items: center;
        padding: 10px 0;
    }
}


@media only screen and (min-width: $medium) {
    .technology-wrapper {
        section {    
            a {
                svg.category,
                svg.tech {
                    width: 65px;
                    height: auto;
                }

                svg.lg-svg {
                    width: 150px;
                }
            }
        }
    }
}