@import './variables.scss';

.user-profile-wrapper {
    .user-profile-detail {       
        display: flex;
        flex-direction: column;
    }

    .user-avatar {
        height: 100px;
        border-radius: 100%;
        margin-right: 20px; 
        float: left;
    }

    .user-name {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 0;
    }

    .user-tabs {
        margin-top: 50px;
        clear: both;

        .user-msg-no-projects {
            text-align: center;
            margin-top: 50px;
        }
    }
}
