@import './variables.scss';

.user-profile-wrapper {
    max-width: 1200px;
    margin: 0 auto;

    .user-profile-info {
        .user-profile-detail {       
            display: flex;
            flex-direction: column;
    
            .user-profile-options {
                display: flex;
    
                a {
                    margin-right: 20px;
                }
            }
        }
    
        .user-avatar {
            height: 150px;
            border-radius: 100%;
            margin-right: 20px; 
            float: left;
        }
    
        .user-name {
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 0;
            font-size: 36px;
        }

        .user-profile-social-wrapper {
            float: right;

            a {
                color: $primary;
                margin-left: 8px;
                font-size: 20px;

                &:hover {
                    color: $primaryDark;
                }
            }
        }
    }

    .user-tabs {
        margin-top: 50px;
        clear: both;

        .user-msg-no-projects {
            text-align: center;
            margin-top: 50px;
        }
    }
}
