$small: 408px;
$medium: 768px;
$medPlus: 1110px;
$large: 992px;
$xlarge: 1200px;

$bg: #f7faff;
$link: #47686a;
$navLinks: #696969;

/*
Filter Buttons
Navbar Links
*/
$grey: #727272;

$primary: #41a4a9;
$primaryDark: #34878b;