.beta-notification {
    display: block;
    padding: 10px;
    z-index: 1;
    position: sticky;
    top: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%);
    text-align: center;
    color: white;

    .anticon {
        margin-left: 10px;

        svg.close {
            &:hover {
                cursor: pointer;
            }
        }
    }

    span,
    a {
        color: white;
        font-weight: bold;
        text-decoration: underline;

        &:hover {
            cursor: pointer;
        }
    }
}

.beta-notification.mobile {
    top: 66px;
}

.beta-notification.close {
    display: none;
}

.nav-mobile-wrapper {
    display: flex;
    position: fixed;
    background: white;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #e6e6e6;
    z-index: 100;

    .logo-mobile {
        padding: 20px 0;
        width: 110px;
        margin: 0 auto;
    }

    a.nav-user-profile-mobile {
        position: absolute;
        right: 37px;
        top: 17px;
        background: black;
        color: white;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;

        span {
            margin: auto;
            line-height: 1.5;
        }

        .user-profile-badge {
            width: 45px;
            border-radius: 100%;
        }
    }
}

.subscribe-modal {
    width: 720px !important;
}